* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}
.form-content{
	padding: 2px;
	display: grid;
	grid-template-rows:auto;
	padding-right: 2px;
	height:fit-content;
}
.main{
	background: linear-gradient(white,green);
	display: flex;
	flex-direction: column;
	overflow:hidden;
}
.screen{
	padding:10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

label{
	font-family: sans-serif;
	font-size: 14px solid;
	color:darkgrey;

}

.form-container{
	border-style: solid;
	border-color:lightgreen;
	border-radius: 5px 5px 0 0;
	width:254px;
}

.form-header{
	text-align: center;
	color: white;
	background-color: lightgreen;
	/*border-radius: 5px 5px 0 0;*/
	padding: 10px;
	width:250px;
}
span{
	padding: 5px;
}
input{
	font-size: 15px;
	width: 330px;
	height: 28px;

}
iframe{
	height:400px;
	width:400px;

}

#button{
	width:235px;
	height: 30px;
	background-color: lightblue;
	color: white;
	border-style: none;
}
.content{
color: white;
padding: 5px;
width: 250px;
margin: 5px;
}
h1{

	font-family: sans-serif;
	font-size: 40px;
	text-align: center;

}
.cv{
	display: grig;
	grid-template-rows: 5% 90% 5%;

}

.cv-header{
	/*display: flex;
	background-color: green;
	color: white;
	padding: 3px;
	height: 60px;
	position:;*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: green;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
 overflow:hidden;
 z-index:1;
}
img{
	right:14px;
	width:80px;
	height:80px;
	border-radius:50%;
	position:fixed;
	transition:0.5s;
}

.cv-content{
	padding: 2px;
	overflow:hidden;
	margin-left:4px;
	margin-right:4px;
	transition: 0.5s;
}

.aside{
	width: 0;
	height:385px;
	position: fixed;
	z-index: 1;
	top: 50px;
	left: 0px;
	background-color:lightgreen;;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 20px;
	padding-left:4px;
}
.closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }

#litle:hover{
	display: block;
	background-color: green;
}
a{
	display: block;
	text-decoration: none;
	color: white;
}
.cv-content1{
	position:relative;
	
}
#personal-html{
	margin-top:70px;
	display:flex;
	flex-direction: column;
}

#Educational{
	padding:0;
	padding-left:4px;
	display:block;
}
h3{
	background-color:lightgrey;
	text-align:center;
	color:green;
	
}
#skill{
	padding-left:4px;
	display:block;
	display:grid;
	padding-left:4px;
}
#Course {
	padding-left:4px;
	display:block;
	display:grid;
	padding-left:4px;
}
#Project{
	padding-left:4px;
	display:block;
	display:grid;
	padding-left:4px;
}

#management{
	padding-left:4px;
	display:block;
	display:grid;
	padding-left:4px;
}
#depend{
	padding-left:4px;
	display:block;
	display:grid;
	padding-left:4px;
}

#contact{
	padding-left:4px;
	display:block;
	display:grid;
	padding-left:5px;
	align-items:center;
}

.map{
	border-style: outset;
}
@media screen and (max-width:900px){
	#Educational{
		max-width:700px ;
	}
	body{
		max-width:5000px;
	}
	div{
		max-width:6000px;
	}
	h1 {
		font-family: sans-serif;
		font-size: 56px;
		text-align: center;
	}
	.main {
		background: linear-gradient(white,green);
		display: flex;
		flex-direction: column;
		font-size: auto;
	}
	iframe{
		max-width:400;
	}
	.content {
		color: white;
		padding: 5px;
		width: 250px;
		margin-top: 190px;
		height: 310px;
	}


}
