.form-content{

	padding: 2px;
	display: grid;
	grid-template-rows:auto;
	padding-right: 2px;
}
.main{
	background: linear-gradient(white,green);
	display: grid;
	grid-template-rows: auto;
}
.screen{
	margin:20px auto;
	display: flex;
	padding: 122px;
	margin: 10px;

}
label{
	font-family: sans-serif;
	font-size: 14px solid;
	color:darkgrey;

}

.form-container{

	margin: 0 auto;
	height: 300px;
	width: 345px;
	padding: 4px;
	border-style: solid;
	border-color:lightgreen;
	border-radius: 5px 5px 0 0;
	margin-right: 1px;
}
.footer{

	margin-bottom: 0px;
	background-color: white;
	dispalay: flex;
	flex-wrap: wrap;
}

.form-header{
	text-align: center;
	color: white;
	background-color: lightgreen;
	/*border-radius: 5px 5px 0 0;*/
	padding: 10px;

}
span{
	padding: 5px;
}
input{
	font-size: 15px;
	width: 330px;
	height: 28px;

}

#button{

	padding: 6px;
	margin: 3px;
	height: 28px;
	background-color: lightblue;
	color: white;
	border-style: none;
}
.content{
color: white;
padding: 5px;
width: 490px;
margin: 5px;
}
h1{

	font-family: sans-serif;
	font-size: 56px;

}
.cv{
	display: grig;
	grid-template-rows: 5% 90% 5%;

}

.cv-header{
	/*display: flex;
	background-color: green;
	color: white;
	padding: 3px;
	height: 60px;
	position:;*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: green;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.cv-content{
	padding: 2px;

}

.aside{
	margin-top:35px;
	width: 200px;
	display: grid;
	padding: 5px;
	background-color: Lightgreen;
	color: white;
}
#litle:hover{
	display: block;
	background-color: green;
}
a{
	display: block;
	text-decoration: none;
	color: white;
}
.cv-content1{
	position:relative;
	
}
#personal-html{
	padding-left:4px;
	display:grid;
}

#Educational{
	padding:0;
	padding-left:4px;
	display:block;

}
#skill{
	padding-left:4px;
	display:block;
	display:grid;
	padding-left:4px;
}
#Course{
	padding-left:4px;
	display:block;
	display:grid;
	padding-left:4px;
}